Repository AUTOMATIC1111/stable-diffusion-webui, pull requests merged in 2022-10, with the labels that each got.

#2645 Auto re-open selected image in gallery when re-generation
  javascript/progressbar.js
Labels: bug

#2661 Raise an assertion error if no training images have been found.
  modules/textual_inversion/dataset.py
Labels: enhancement

#2643 Disable compiling deepbooru model
  modules/deepbooru.py
Labels: enhancement

#2649 Fix prerequisites check in webui.sh
  webui.sh
Labels: bug

#2611 Add Vector size to TI embed image caption, only generate when data is fresh, expand image format loading support
  modules/textual_inversion/textual_inversion.py
Labels: enhancement

#3755 Adding pt_BR (portuguese - Brazil) to localizations folder
  localizations/pt_BR.json
Labels: localization

#3711 Add localisation for Traditional Chinese 正體中文化
  localizations/zh_TW.json
Labels: localization

#3691 Revamped Arabic localization
  localizations/ar_AR.json
  modules/scripts.py
  style.css
Labels: localization

#3725 Included localization file for IT language
  localizations/it_IT.json
Labels: localization

#3757 Add german Localization file.
  localizations/de_DE.json
Labels: localization

#3952 Italian localization (extended) [Requires Feedback]
  localizations/it_IT.json
Labels: localization

#3914 Update KR localization and fix hotkeys
  localizations/ko_KR.json
Labels: localization

#3955 Update ar_AR.json
  localizations/ar_AR.json
Labels: localization

#4033 Update ko_KR.json
  localizations/ko_KR.json
Labels: localization

#4051 Added some extension KR support
  localizations/ko_KR.json
Labels: localization

#4063 Add Extension Manager strings
  localizations/ko_KR.json
Labels: localization
